install:
  - call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars64.bat"
  - set QTDIR=C:\Qt\5.12.1\msvc2017_64
  - set PATH=%PATH%;%QTDIR%\bin
build_script:
  - qmake DiceWars.pro
  - nmake
